<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/style.min.css') }}">
    {% block stylesheet %}{% endblock %}
    <script defer src="{{ asset('/js/jquery-3.4.1.min.js') }}"></script>
    <script defer src="{{ asset('/js/bootstrap.bundle.min.js') }}"></script>
    <script defer src="{{ asset('/js/fontawesome.min.js') }}"></script>
    <link rel="shortcut icon" type="image/png" href="{{ asset('/img/favicon.png') }}"/>
    {% block title %}<title>SimpleImgUpload</title>{% endblock %}
</head>
<body>

{% block body %}{% endblock %}
{% include 'bodyparts/footer.twig' %}

{% block javascript %}{% endblock %}
<script>
    window.setTimeout(function () {
        $('.autoclose').fadeTo(500, 0).slideUp(1000, function () {
            $(this).remove();
        });
    }, 5000);
</script>
</body>
</html>