{% extends 'base.twig' %}

{% block javascript %}
<script defer src="{{ asset('/js/fileinput.min.js') }}"></script>
{% endblock %}

{% block body %}
    {% include 'bodyparts/header.twig' with {
        'profileLink': profileLink,
        'isConnected': isConnected
    } %}
    <main role="main" class="container">
        <div class="jumbotron shadow bg-white rounded">
            <div class="form">
                {{ flashMsg|raw }}
                <div  class="small text-muted row mb-3 justify-content-center">
                    <span class="infosMx-1">Allowed type: <b>{{ allowedTypes }}</b></span>
                    <span class="infosMx-1">Allowed size: <b>{{ allowedSize }}</b></span>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="custom-file">
                            <input name="inputFile" type="file" class="custom-file-input" id="browseImgFile" aria-describedby="browseImgFileAddon">
                            <label class="custom-file-label" for="browseImgFile">Choose image file</label>
                        </div>
                        <div class="input-group-append">
                            <button name="submit" class="btn btn-primary" type="submit" id="browseImgFileAddon">Send my image</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if getImgLink is not null %}
            <div class="img-container">
                <a href="{{ getImgLink }}"><img src="{{ getImgLink }}" class="img-fluid img-thumbnail mx-auto d-block" alt="Your uploaded image."></a>
            </div>
        {% endif %}
    </main>
{% endblock %}